{% extends 'base-submit.html' %}

{% block content %}
<div class="container">
  <form method="post" id="form-submit">

    <!-- mask -->
    <h3>Mask</h3>
    <div>
     <input type="radio" id="yes" name="mask" value="yes" checked>
     <label for="yes">yes</label>
    </div>

    <div>
     <input type="radio" id="no" name="mask" value="no">
     <label for="no">no</label>
    </div>

    <!-- mask worn correctly? -->
    <h3>Mask worn correctly?</h3>
    <div>
     <input type="radio" id="worn-yes" name="mask_correct" value="yes" checked>
     <label for="worn-yes">yes</label>
    </div>

    <div>
     <input type="radio" id="worn-no" name="mask_correct" value="no">
     <label for="worn-no">no</label>
    </div>

    <h3>Gender</h3>
    <div>
     <input type="radio" id="male" name="gender" value="male" checked>
     <label for="male">male</label>
    </div>

    <div>
     <input type="radio" id="female" name="gender" value="female">
     <label for="female">female</label>
    </div>

    <h3>name*</h3>
    <input type="text" id="logger" name="logger">

    <h3>neighborhood*</h3>
    <input type="text" id="neighborhood" name="neighborhood">

    <!-- notes -->
    <h3>notes</h3>
    <div>
     <textarea id="notes" name="notes" rows="2" cols="50"></textarea>
    </div>

    <p class='exp error'><b>Name</b> and <b>neighborhood</b> fields must be filled completed.</p>
    <button type="submit" id="submit-form">submit</button>

  </form>
</div>
{% endblock content %}
